.button{
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
background-color: brown;
  text-align: center;
  line-height: 45px;
  transition: none;
  min-width: 80px;
   min-height: 60px;
  font-size: 12px;
  padding: 0 ;
  cursor: pointer;
  height: 35px;
 border-radius: 50% ; 
  outline: none;
  right:0;
  
}
 

.blue {
  box-shadow: 0 4px 0 #af269d;
  background: #45a0de;
  font-family: Arial;
  color: #fff
}

.blue:hover {
  background: #af269d;
}

.blue:active {
  position: relative;
  box-shadow: none;
  top: 4px
}

p {
  color: #ccc;
  font-family: Arial;
  font-size: 13px
}

.center {
  margin: auto;
  text-align: center
}

.animated { -webkit-animation-duration: 20s; animation-duration: 20s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.animated.hinge { -webkit-animation-duration: 20s; animation-duration: 20s; }

@-webkit-keyframes tada { 0%, 90% { -webkit-transform: scale(1); transform: scale(1); }
  91%, 92% { -webkit-transform: scale(0.9) rotate(-3deg); transform: scale(0.9) rotate(-3deg); }
  93%, 95%, 97%, 99% { -webkit-transform: scale(1.1) rotate(3deg); transform: scale(1.1) rotate(3deg); }
  94%, 96%, 98% { -webkit-transform: scale(1.1) rotate(-3deg); transform: scale(1.1) rotate(-3deg); }
  100% { -webkit-transform: scale(1) rotate(0); transform: scale(1) rotate(0); } }

@keyframes tada { 0%, 90% { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
  91%, 92% { -webkit-transform: scale(0.9) rotate(-3deg); -ms-transform: scale(0.9) rotate(-3deg); transform: scale(0.9) rotate(-3deg); }
  93%, 95%, 97%, 99% { -webkit-transform: scale(1.1) rotate(3deg); -ms-transform: scale(1.1) rotate(3deg); transform: scale(1.1) rotate(3deg); }
  94%, 96%, 98% { -webkit-transform: scale(1.1) rotate(-3deg); -ms-transform: scale(1.1) rotate(-3deg); transform: scale(1.1) rotate(-3deg); }
  100% { -webkit-transform: scale(1) rotate(0); -ms-transform: scale(1) rotate(0); transform: scale(1) rotate(0); } }

.tada { -webkit-animation-name: tada; animation-name: tada; }