body {
  background: #222;
}
.widget {
  position: fixed;
  right: 0;
  bottom: 0;
  transition: 0.6s;
}
.open.widget {
  right: 35px;
}
a {
  color: inherit;
}
#chatme {
  background-color: #ff299c;
  color: white;
  border: none;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  transition: 0.4s;
  box-shadow: 0 0 0 0 #ff299c;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  z-index: 999;
  cursor: pointer;
}
@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

#chatme:hover {
  animation: paused;
}
#chatme:focus {
  outline: none;
}

#chatme svg,
.socials > div svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: white;
}
.socials > div svg {
  width: 16px;
  height: 16px;
}
#chatme .close {
  opacity: 0;
  transition: 0.3s;
}
#chatme .chat {
  opacity: 1;
  transition: 0.3s;
}
.open #chatme .close {
  opacity: 1;
  transition: 0.3s;
}
.open #chatme .chat {
  opacity: 0;
  transition: 0.3s;
}
.open #chatme {
  transform: rotate(45deg);
}
.widget:not(.open) .socials {
  transform: scale(0);
}
.socials {
  position: relative;
  transition: 0.4s;
  background: rgba (0, 0, 0, 0.3);
}
.socials > div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: white;
  transition: 0.3s;
}
.socials > div:hover {
  transform: scale(1.2);
}
.socials .phone {
  background: #00cc66;
  right: 80px;
  bottom: 0;
}
.socials .email {
  background: #fabc2a;
  right: 77px;
  bottom: 45px;
}
.socials .instagram {
  background: #645dd7;
  right: 45px;
  bottom: 77px;
}
.socials .youtube {
  background: red;
  right: 0px;
  bottom: 80px;
}
.socials .vk {
  background: #37515f;
  right: -35px;
  bottom: 53px;
}
